$font-family-serif: Garamond, "Times New Roman", serif;
$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;

$grey-border: #eee;
$grey-text: #aaa;
$black: #000;
$white: #fff;

html {
  font-size: 10px;

  @include lg {
    font-size: 12px;
  }

  @include xl {
    font-size: 14px;
  }
}

body {
  color: $black;
  font-family: $font-family-sans-serif;
}

.App {
  font-size: 1.8rem;
  padding: 2rem;

  @include md {
    padding: 3rem;
  }

  @include md {
    padding: 4rem;
  }
}

a {
  color: $grey-text;
}

a:hover {
  color: $black;
}

.wobble-fix { -webkit-filter: blur(0); }

.FileManager {
  height:100vh;
  .filemanager-header {
    clear: both;
    height:40px;
    .heading {
      @include link-typo-headline();
      line-height: 30px;
      margin-right: 20px;
      display: inline-block;
    }
    .root-selector {
      width: 200px;
      display: inline-block;
    }
    padding: 5px;
  }
}
.filelists-container {
  display: flex;
  height: 100vh;
  margin-top: -40px;
  padding-top: 40px;


  .filelist-panel {
    flex: 1;
    flex-direction: column;
    border: 1px solid #eee;
    margin: 5px;
    display: flex;
    .panel-actions {
      height: 40px;
      background-color: #666;
      padding: 10px;
      line-height: 20px;
      .panel-button {
        display: inline-block;
        float:right;
        cursor:pointer;
        font-size: 18px;
        margin: 0 0 0 5px;
        color: #fff;
        //border:1px solid #eee;
        height: 20px;
        width: 20px;
        text-align: center;
        &.disabled {
          color: #ccc;
          cursor: auto;
        }
      }
      .panel-caption {
        max-width: 70%;
        overflow: hidden;
        height: 20px;
        display: inline-block;
      }
    }
    .filelist {
      overflow:hidden;
      overflow-y:auto;
      position:relative;
      flex: 1;
      ul {
        margin:0;
        padding:0;
        .file-item {
          height: 25px;
          padding: 0 5px 0 5px;
          line-height: 25px;
          border-bottom: 1px solid #eee;
          cursor: pointer;
          i {
              font-size: 14px;
          }
        }
        .file-item:hover {
          background-color: #eee;
        }
        .file-item.active {
          background-color: #eee;
        }
        .indicator {
          float: right;
          line-height: 25px;
          margin-right: 5px;
          color:#ccc;
        }
      }
      .loading {
        position: absolute;
        top:0;
        bottom: 0;
        left:0;
        right:0;
        text-align: center;
        .message {
          height: 40px;
          padding-top: 45vh;
          margin-top: -20px;
          .sr-only {
            margin-top: 10px;
            display: inline-block;
          }
        }
      }
      .uploader {
        position: relative;
        padding: 10px;
        .drop-zone {
          border: 2px dashed #ccc;
          border-radius: 4px;
          text-align: center;
          padding: 20px;
          color: #ccc;
          &.active {
            color: #717171;
            border: 2px dashed #717171;
          }
        }
        .uploader-file-item {
          border-bottom: 1px solid #eee;
          margin-bottom: 10px;
          .file-info {
            float: right;
            i {
              margin-left: 10px;
            }
          }
          progress {
            display: block;
            width: 100%;
          }
        }
        .uploders-buttons {
          text-align: center;
          .uploader-button {
            display: inline-block;
            padding:5px 0px;
            margin: 10px 3%;
            width:44%;
            background-color: #eee;
            border: 1px solid #ccc;
            outline: none;
            cursor: pointer;
            &:hover {
              background-color: #ccc;
            }
          }
        }
      }
      .fields-container {
        padding: 10px 10px 0 10px;
        textarea {
          border: 1px solid #ccc;
          outline: none;
          width:100%;
          height: 70px;
        }
      }
    }
  }
}
